body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    width: 120px;
    height: 80px;
    font-size: 24px;
}

button.number {
    background-color: #6EE6C0;
}

button.operator {
    background-color: #6EE2E6;
}

button.selected {
    background-color: #34919b;
}

button#ac {
    background-color: #6EE698;
    border-top-left-radius: 8px;
}



.calculator-container {
    top: 800px;
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    padding: 2px;

    border: 5px solid #193C40;
    background-color: #193C40;
    border-radius: 10px;

    box-shadow: 10px 15px;
}

.display {
    width: 100%;
    text-align: right;

    padding: 10px;
    box-sizing: border-box;

    font-size: 82px;
    color: #D96941;

    overflow-x: auto;
    white-space: nowrap;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top,
.middle,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top > #ac-container {
    flex: 1;
}

.top > #ac-container > #ac   {
    width: 100%;
}

#divider {
    border-top-right-radius: 8px;
}

.middle {
    flex-wrap: wrap;
}

.middle > .button {
    flex: 1 0 21%;
}

.middle > .button > .number {
    flex: 1;
    width: 100%;
}

.middle > .op-container {
    display: flex;
    justify-content: right;
    flex: 0;
}

.bottom > #zero-container {
    flex: 1;
}

.bottom > #point-container {
    flex-basis: calc(((0.79 / 3) * 100%) + 2px);
}

.bottom > #point-container > button {
    width: 100%;
}

.bottom > #zero-container > button {
    width: 100%;
    border-bottom-left-radius: 8px;
}

#equals {
    border-bottom-right-radius: 8px;
}