body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    width: 60px;
}

.calculator-container {
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 400px;

    margin-top: 100px;
}

.display {
    padding: 10px; 
    font-size: 36px;
}

.top {
    display: flex;
    justify-content: space-between;
}

#ac {
    display: flex;

    flex: 1;
}

#ac > button {
    flex: 1;

    width: 100%;
}

.middle {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.middle > .button {
    flex: 1 0 21%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}

.middle > .button > .number {
    flex: 1;
    width: 100%;
}


.middle > .button > .operator {
    margin-left: auto;
}



.bottom {
    display: flex;
    justify-content: space-between;
}

#zero-container {
    display: flex;
    flex: 1;
}

#zero-container > button {
    flex: 1;
}

.button {
    margin: 5px;
}